<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>about page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card mt-5">
				<div class="card-body">
					<div class="row">
			            <div class="col-md-6">
			  
			                <h2 class="text-center">About Us</h2> <hr>
			                <p style="text-align: justify;">
			                  Smart Contact Manager is a form of electronic commerce which allows consumers to directly upload your personal data or contact or services from a seller over the Internet using a web browser or a mobile app. Consumers find a store their personal TODO also and  of their interest by visiting the website of the retailer directly or by searching among alternative vendors using a storage search engine, which displays the same product's availability and pricing at different e-retailers. As of 2020, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.
			                  An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products, along with information about the product specifications, features and prices.
			                </p>
			      
			            </div>
		              	<div class="col-md-6">
		                	<img th:src="@{/img/about_icon.png}" alt="">
		              	</div>
        			</div>
				</div>
			</div>
    	</div>
	</section>
</body>
</html>