<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about page</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 300px;" class="col-md-12">
							<!-- message section  -->
							<div th:if="${session.message}" class="container pt-3">
								<div th:classappend="${'alert-'+session.message.type}"
									class="alert alert-dismissible fade show text-center"
									role="alert">
									<span th:text="${session.message.content}"></span>
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
							<!-- message section  end -->

							<form id="login-form" class="form" method="post"
								th:action="@{/send-otp}">
								<h3 class="text-center text-info">Forgot Password</h3>

								<div class="form-group pt-2">
									<label for="email">Enter your registered email here</label> <input
										required type="email" class="form-control" id="email"
										name="email" placeholder="Enter here" />
								</div>
								<div class="text-center">
									<button class="btn btn-success" type="submit">Send OTP</button>
									<button class="btn btn-warning" type="reset">Reset</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>