<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password | Smart Phonebook Manager</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">
						
						
											
							<form id="login-form" class="form" method="post"
								th:action="@{/change-password}">
								<h3 class="text-center text-info">Change Password</h3>
									
													
								
								<div class="form-group pt-2">
									<label for="email">Enter New Password Here</label> <input required
										type="number" class="form-control" id="email" name="newPassword"
										placeholder="Enter here" />
								</div>
								<div class="text-center">
									<button class="btn btn-success" type="submit">Change Password</button>
									<button class="btn btn-warning" type="reset">Reset</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>